body
{
  padding: 20px;
  font-family: "Raleway";
}
input[type=radio] 
{
    display:none; 
    margin:15px;
}
input[type=radio] + label 
{
  border: none;
  width:400px;
  cursor: pointer;
  padding: 20px;
  display: inline-block;
  letter-spacing: 2px;
  outline: none;
  position: relative;
  background: #4EBEE3;
  color: #fff;
  font-size: 25px;
  box-shadow: 0 6px #1A3E4A;
  border-radius: 0 0 5px 5px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
#fouroptions input[type=radio] + label:hover 
{ 
  box-shadow: 0 8px #1A3E4A;
  top: -2px;
}
#fouroptions input[type=radio] + label:active 
{ 
  box-shadow: 0 0 #1A3E4A;
  top: 6px;
}


input[type=radio]:checked + label 
{ 
    background-color:#4BEB6B;
}
#hidden_question
{
    display: none;
}
.simple 
{
  font-size: 20px;
  background: #27ae60;
  padding: 0.5em 0.7em;
  color: #ecf0f1;
  margin-bottom: 20px;
  -webkit-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out;
}
#finished
{
  width:80%;
  margin: 0px auto;
  font-family: "Raleway"
}
#finished a 
{
color:#1BB350;
}
#finished a:hover
{
  color:#1B88B3;
  text-decoration: none;
}
#instructions
{
  width:60%;
  margin: 0px auto;
  
}
#instructions p
{
  letter-spacing: 3px;
  line-height: 28px;
  font-size: 20px;
  font-family: "Raleway"
}

#level_disp
{
  margin-left: 450px;
  top: 100px;
  font-size: 25px;
  clear: both;
  float:right;
}
.butn{
  width: 100px;
  padding:8px;
    background: #b7d770;
    background: -webkit-gradient(linear, left top, left bottom, from(#cae285), to(#9fcb57)); /*  WebKit */
    background: -moz-linear-gradient(top,  #cae285, #9fcb57);
    border-color: #adc671 #98b65b #87aa4a;
    color: #5d7731;
    text-shadow: 0 1px 0 #cfe5a4;
    -webkit-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #d7e9a4;
    -moz-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #d7e9a4;
    box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #d7e9a4;    
}
.butn:hover{
    background: #b9d972;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8d872', endColorstr='#b9d972'); /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#b8d872), to(#b9d972)); /*  WebKit */
    background: -moz-linear-gradient(top,  #b8d872, #b9d972);
    border-color: #8bb14d #83a648 #7d9e45;
    text-shadow: 0 1px 0 #d5e8aa;
    -webkit-box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #cae295;
    -moz-box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #cae295;
    box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #cae295;    
}
