body
{
  padding-top: 20px;
}
input[type=radio] 
{
    display:none; 
    margin:10px;
}
input[type=radio] + label 
{
    display:inline-block;
    background-color: #ABEBE7;
    width:400px;
    height:30px;
    margin-top: 5px;
    padding:12px;
    font-size: 25px;
    font-family: 'calibri';
    text-align:left;
}
#fouroptions input[type=radio] + label:hover 
{ 
    background-color:#4BEB6B;
}
#skip input[type=radio] + label:hover
{
    background-color:#DE6D7C;
}
input[type=radio]:checked + label 
{ 
    background-color:#4BEB6B;
}
#hidden_question
{
    display: none;
    border:3px solid black;
}
.simple 
{
  font-size: 20px;
  background: #27ae60;
  padding: 0.5em 0.7em;
  color: #ecf0f1;
  margin-bottom: 20px;
  -webkit-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out;
}
