.login_container
{
width:400px;
  margin-left: 700px;
  margin-top: 60px;
}
.btn
{
    background: #1BB350;
    border: 1px double #1BB350;
    box-shadow: 0 0 5px #000;
    color: #000;
    width:100px;
    height:30px;
    outline: none;
}
.btn:hover
{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);

}
.form-signin 
{
  max-width: 300px;
  padding: 25px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .form-control 
{
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width:300px;

   -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
    border:1px solid #000;

}
.form-signin input[type="password"] {
  margin-bottom: 30px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width:300px;
   -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
    border:1px solid #000;

}
.form-signin input[type="password"]:focus,.form-signin input[type="text"]:focus
{
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border:1px solid rgba(81, 203, 238, 1);
}