<h1>Welcome Admin</h1>
<form name="insert" method="POST" action="">
<table>
    <tr><td>Select Level</td> 
        <td><select name="level">
                <option value="level9">level9</option>
                <option value="level8">level8</option>
                <option value="level7">level7</option>
                <option value="level6">level6</option>
                <option value="level5">level5</option>
                <option value="level4">level4</option>
                <option value="level3">level3</option>
                <option value="level2">level2</option>
                <option value="level1">level1</option>
                <option value="level0">level0</option>
            </select>
        </td>
    </tr>
<tr>
    <td>Enter Question:</td>
    <td><input type="text" name="question" size=50></td>
</tr>
<tr>
    <td>Enter Options:</td>
    <td><input name="option1" type="text"><br>
        <input name="option2" type="text"><br>
        <input name="option3" type="text"><br>
        <input name="option4" type="text">
    </td>
</tr>
<tr>
    <td>Enter Answer:</td>
    <td><input name="answer" type="text"></td>
</tr>
</table>
<input type="submit">
</form>


