{% extends "template.html" %}
{% block content %}

<style type="text/css">
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
input[type=radio] 
{
    display:none; 
    margin:10px;
}
input[type=radio] + label 
{
    display:inline-block;
    background-color: #ABEBE7;
    width:400px;
    height:30px;
    margin-top: 5px;
    padding:12px;
    font-size: 25px;
    font-family: 'calibri';
    text-align:left;
}
input[type=radio]:checked + label 
{ 
    background-color:#4BEB6B;
}
</style>



    <div class="container">

    

<div class="span12">
<p class="lead">What is the capital hey how are you what are you doing brother. Yes Its a long Question but why so much concern, Today you are a champion in the country of India ? </p>
<input type="radio" id="radio1" name="radios" value="delhi">
<label for="radio1">New Delhi</label><br>
<input type="radio" id="radio2" name="radios" value="mumbai">
<label for="radio2">Mumbai</label><br>
<input type="radio" id="radio3" name="radios" value="chandigarh">
<label for="radio3">Chandigarh</label><br>
<input type="radio" id="radio4" name="radios" value="chennai">
<label for="radio4">Chennai</label><br>
<button type="button" class="btn btn-primary">Submit</button>
</div>
    </div>
   
{% endblock %}