{% extends "template.html" %}
{% block content %}
   
 <script type="text/javascript" src="static/js/jquery.countdown.js"></script>
 <script type="text/javascript" src="static/js/timer.js"></script>


<div class="container">
    <div class="span12"> 
        <div class="countdown simple pull-right"></div>
       
    <h1 align=center> CoadMire </h1>
        <form action="" method="POST">
        <input type="text" value="{{ doc.question }}" id="hidden_question" name="question">
        
        	  {% for message in get_flashed_messages() %}
            	<div class="flash lead">
                	(Q.{{ message }}) {{ doc.question }} 
                	Hello how are you what are you doing. Yes man wats up you brother !!!
            	</div>
        	{% endfor %}
         
        <div id="fouroptions">
        <input type="radio" id="option1" name="ques_response" value="{{ doc.option1 }}" required>
        <label for="option1">{{ doc.option1 }}</label><br>
        
        <input type="radio" id="option2" name="ques_response" value="{{ doc.option2 }}" required>
        <label for="option2">{{ doc.option2 }}</label><br>
        
        <input type="radio" id="option3" name="ques_response" value="{{ doc.option3 }}" required>
        <label for="option3">{{ doc.option3 }}</label><br>
        
        <input type="radio" id="option4" name="ques_response" value="{{ doc.option4 }}" required>
        <label for="option4">{{ doc.option4 }}</label><br>
        </div>
        <div id="skip">
        <input type="radio" id="option5" name="ques_response" value="not_answered" required>
        <label for="option5">Skip This Question</label>
        </div>
        <br>
        
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
       

    </div>
</div>
   
{% endblock %}