{% extends "template.html" %}
{% block content %}

<div id="tab" align="center">
    <h1 align=center> Your Report </h1>
    <table align="center">
    	<tr><th>Q.no<th>Level<th>Question<th>Correct Answer<th>Your Answer<th>Score</tr>
    	{%	for a in report.find() %}
    	<tr><td>{{ loop.index }}<td>{{ a.level }}<td>{{ a.question }}<td>{{ a.answer }}<td>{{ a.response }}<td>{{ a.score }}</tr>
    	{% endfor %}
    </table>
</div>

<div id="finished" align="center">
    <br><br><h2> 
    	Test Completed. Thank You for using CoadMire !!
       	<br><br>
       	<a href="/logout">LOGOUT</a> 
    </h2>
</div>

{% endblock %}