        <link rel="stylesheet" type="text/css" href="static/css/home.css" />
	 <link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>

		<div id="bf_container" class="bf_container">
			
			
			<div id="bf_page_menu" class="bf_menu" >
				<h1 class="title">CoadMire</h1>
				<ul>
					<li><a href="#" data-content="home"><span class="bf_hover"></span><span>Coadmire</span></a></li>
					<li><a href="#" data-content="about"><span class="bf_hover"></span><span>Platform</span></a></li>
					<li><a href="#" data-content="menu"><span class="bf_hover"></span><span>Developer</span></a></li>
					
				</ul>
			</div>
			<div class="bf_page" id="home" style="display:block;">
				<div class="bf_content_text">
					<h2>Welcome</h2>
					<p>Profilin is India's first assessment platform that combines the rigor of academic research with next generation technology implementations to provide organizations with the power to truly know about their employees and make HR processes more quantifiable and scalable.</p>
				</div>
			</div>
			<div class="bf_page" id="about">
				<div class="bf_content_text">
					<h2>Platform</h2>
					<p>All of us at corporate have met that person who had tremendous intellect but did not do too well in climbing up the ladder. Our researchers went on a journey, to figure out why this happened and the results were astonishing.</p>
				</div>
			</div>
			<div class="bf_page" id="menu">
				<div class="bf_content_text">
					<h2>Developer</h2>
					<p> Hello Its Me.</p>
				</div>
			</div>
		
			
		</div>

		<script type="text/javascript" src="static/js/jquery.template.min.js"></script>
