{% extends "template.html" %}
{% block content %}

{%	for post in collection.find() %}
	<h2>{{ post.question }}</h2>
	<form action="" method="post">
	<select name="ques">
		<option value="{{ post.optiona }}">{{ post.optiona }}</option>
		<option value="{{ post.optionb }}">{{ post.optionb }}</option>
		<option value="{{ post.optionc }}">{{ post.optionc }}</option>
		<option value="{{ post.optiond }}">{{ post.optiond }}</option>
	</select>
	<p><input type="submit" value="submit"></p>
	</form>

	{% if error %}
	<p class="error"><strong>Error:</strong>{{ error }}</p>
{% endif %}
{% endfor %}
{% endblock %}