{% extends "template.html" %}
{% block content %}

	<form action="" method="POST">
	<input type="text" value="{{ doc.question }}" id="question" name="question"><h2>{{ doc.question }}</h2>
	<select name="ques_response">
		<option></option>
		<option value="{{ doc.optiona }}">{{ doc.optiona }}</option>
		<option value="{{ doc.optionb }}">{{ doc.optionb }}</option>
		<option value="{{ doc.optionc }}">{{ doc.optionc }}</option>
		<option value="{{ doc.optiond }}">{{ doc.optiond }}</option>
	</select>
	<p><input type="submit" value="submit"></p>
	</form>

{% if resp %}
	<strong>Prev Ques Response:</strong>{{ resp }}</p>
{% endif %}


{% for message in get_flashed_messages() %}
	<div class=flash>
		{{ message }}
	</div>
{% endfor %}
{% endblock %}