{% extends "template.html" %}
{% block content %}

	<h2>{{ doc.question }}</h2>
	<form action="" method="POST">
	<select name="ques">
		<option value="{{ doc.optiona }}">{{ doc.optiona }}</option>
		<option value="{{ doc.optionb }}">{{ doc.optionb }}</option>
		<option value="{{ doc.optionc }}">{{ doc.optionc }}</option>
		<option value="{{ doc.optiond }}">{{ doc.optiond }}</option>
	</select>
	<p><input type="submit" value="submit"></p>
	</form>

{% if resp %}
	<strong>Response:</strong>{{ resp }}</p>
{% endif %}



{% endblock %}