<link rel="stylesheet" type="text/css" href="static/css/home.css" />
<link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<link href="static/css/signin.css" rel="stylesheet">



<body>
<div id="bf_container" class="bf_container">
			<div id="bf_page_menu" class="bf_menu" >
				<h1 class="title">CoadMire</h1>
				<ul>
					<li><a href="#" data-content="home"><span class="bf_hover"></span><span>Coadmire</span></a></li>
				<li><a href="#" data-content="about"><span class="bf_hover"></span><span>Algorithm</span></a></li>
					<li><a href="#" data-content="menu"><span class="bf_hover"></span><span>BackEnd</span></a></li>
				</ul>
			</div>
			<div class="bf_page" id="home" style="display:block;">
				<div class="bf_content_text">
					<h2 align="center">What It Is ?</h2>
 <p>Coadmire is an online test platform developed and designed 
	espically to give a better experince to both users and admins. It supports the 
	feature of adaptability ie. dynamic level transitions while the test is in progress.
	A nice User Interface is also designed using latest techs. </p>
				</div>
			</div>
			<div class="bf_page" id="about">
				<div class="bf_content_text">
					<h2 align="center">How It Works ?</h2>
					<p> Codemire test starts from basic level and progress according to the responses submitted
						by the user. With every correct response, level increases by one and with every wrong a
						answer, level decreases by one. All the responses are smartly captured in the database.
					</p>
				</div>
			</div>
			<div class="bf_page" id="menu">
				<div class="bf_content_text">
					<h2 align="center">Implementations</h2>
					<p> Codemire is completly built using python's web framework "Flask" and Database support is 
						driven by MongoDb. It's User Interface is designed using Twitter Bootstrap framework.
						The complete app is deployed on Heroku Cloud.
					</p>
				</div>
			</div>	

<div class="login_container" align="center">
     <form class="form-signin" action="" method="POST">
       <h1 class="form-signin-heading">Login</h1><br>
<input type="text" class="form-control" placeholder="Username" name="username"><br><br>
 <input type="password" class="form-control" name="password" placeholder="Password">
 <br>
 <button class="btn" type="submit">Sign in</button>
 </form>

      <div align="center">
      	{% if error %}
			<p class="error"><strong>Error: </strong>{{ error }}</p>
		{% endif %}
		{% for message in get_flashed_messages() %}
			<div class=flash>
				{{ message }}
			</div>
		{% endfor %}
	</div>
</div> 

		
</body>
		<script type="text/javascript" src="static/js/jquery.template.min.js"></script>
